@use './_colors' as colors; 

.data-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  
    .data-item {
      padding: 1rem;
      border: 1px solid colors.$border-gray;
      border-radius: 4px;
      background-color: colors;
    }
  
    .error {
      color: colors.$error-red;
      font-size: 1.2rem;
    }
  }
  