@use './_colors' as colors; 

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
    border-radius: 8px;
    background-color: colors.$light-gray-bg;
    box-shadow: 0 4px 8px colors.$box-shadow-dark;
  }
  
  .form-title {
    margin-bottom: 40px;
    padding-bottom: 10px;
  }
  
  .submit-btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .MuiTextField-root {
    margin-bottom: 15px;
  }
  