.request-access {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: #f9f9f9;
  min-height: 100vh;
}
.go-back-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  padding-bottom: 20px; 
}
.go-back-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #34495e;
}
.request-card {
  width: 400px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.request-title {
  margin-bottom: 15px;
}

.submit-btn {
  margin-top: 15px;
  width: 100%;
}

.user-requests {
  flex-grow: 1;
  margin-left: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.request-history-title {
  margin-bottom: 10px;
  text-align: center;
}
