@use './_colors' as colors; 

.users-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: colors.$bg-light-blue;

  .title {
    color: colors.$dark-text;
  }
  .go-back-button {
    position: absolute;
    top: 8rem;
    left: 1rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: colors.$dark-blue-gray;
  }

  .MuiPaper-root {
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px colors.$box-shadow-dark;
  }

  .MuiDataGrid-root {
    border: none;
    .MuiDataGrid-columnHeader {
      background-color: colors.$primary-blue;
      color: colors.$white;
      font-weight: bold;
    }
    .MuiDataGrid-cell {
      color: colors.$dark-gray;
      font-size: 0.9rem;
    }
  }

  .MuiButton-root {
    margin-right: 10px;
  }

  .MuiDialog-root {
    .MuiDialogTitle-root {
      background-color:colors.$primary-blue;
      color: colors.$white;
      font-size: 1.25rem;
      font-weight: 600;
    }

    .MuiDialogContent-root {
      padding: 20px;
      .MuiTextField-root {
        margin-bottom: 15px;
      }

      .MuiSelect-root {
        margin-bottom: 15px;
      }
    }

    .MuiDialogActions-root {
      padding: 10px;
      button {
        font-weight: 500;
        padding: 8px 20px;
      }
    }
  }

  .MuiButton-containedPrimary {
    background-color: colors.$primary-blue;
    &:hover {
      background-color: colors.$hover-blue;
    }
  }

  .MuiButton-containedSecondary {
    background-color: colors.$error-dark-red;
    &:hover {
      background-color:  colors.$error-hover-red;
    }
  }

  .MuiSelect-root {
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .admin-dashboard {
    padding: 10px;

    h2 {
      font-size: 1.5rem;
    }

    .MuiDataGrid-root {
      font-size: 0.8rem;
    }
  }
}
